body{
    background: black;
}
h1{
    background: rgb(212, 206, 206);
    color: red;
    height: 100px;
    text-align: center;
    padding-top: 50px;
}

h3{
    background: white;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    font-size: xx-large;
}

div{
    background: red;
    height: 50px;
    width: 400px;
    margin: auto;
}

p{
    text-align: center;
    padding-top: 35px;
    font-size: x-large;
    font-weight: bolder;
}